.sidebar-search .input-group .form-control::-webkit-input-placeholder {
    color: red; }
span.nav-link{
    line-height: 1.5em;
    padding-left: 60px;
    height: 50px;
}
span.nav-link a{
    color: #fff;
    font-size: 15px;
    line-height: 2em;
}
span.nav-link a:hover{
    color: #36c6d3;
}
input.recherche{
    color: #36c6d3 !important;
}
.recherche i:hover{
    color: #36c6d3 !important;
}

.page-sidebar-closed li.resultat_recherche{
    display: none;
}/* here you can put your own css to customize and override the theme */
