body{
	font-family: trebuchet ms;
}
#conteneur{
	width: 644px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#top{
	display: inline;
}

#titre_inter{
	width: 624px;
	margin-top: 5px;
	font-family: trebuchet ms;
	color: #012854;
	font-size: 28px;
	border-top: 2px solid #476d99;
	padding-top: 10px;
	padding-bottom: 10px;
	
}
.border_bottom{
	width: 450px;
	height: 5px;
	border-bottom: 2px solid #476d99;
	margin-left: auto;
	margin-right: auto;
}
#info_client, #info_inter{
	width: 266px;
	height: 130px;
	margin-top: 5px;
	text-align: left;
	font-size: 10px;
	line-height: 18px;
	background: #FFF url('../images/bg_bloc.jpg') repeat-x bottom;
	box-shadow: 8px 8px 12px #e8e8e8;
	border-radius: 10px;
	padding: 5px;
}
.title_bloc{
	display: block;
	color: #1d5595;
	font-size: 14px;
	text-align: center;
	font-family: verdana;
	margin-bottom: 10px;
	font-weight: bold;
}
#fiche_inter1,#fiche_inter2,#fiche_inter3,#com_sign{
	width: 630px;
	height: auto;
	text-align: left;
	font-size: 14px;
	color: #1d5595;
	font-weight: bold;
	margin-top: 5px;
}
#fiche_inter1 td,#fiche_inter2 td,#fiche_inter3 td,#com_sign td {
	font-size: 10px;
	color: #000;
	padding-top: 5px;
}

.gauche{
	width: 302px;
	height: auto;
	border-bottom: 1px solid #476d99;
	font-size: 10pt;
}
.droite{
	width: 302px;
	height: auto;
	margin-left: 20px;
	border-bottom: 1px solid #476d99;
	font-size: 10pt;
}
.signature{	
	height: 90px;
	border: 1px solid #476d99;
}
.marge{
	width: 20px;
}
#com_sign{
	margin-top: 5px;
}
.materiel
{
	font-size: 8pt;
}
table .cadre{
	border: 1px solid black;
}
.mes_coordonnees
{
	font-size: 7pt;
}
.ouverture{
	font-size: 8pt;
}
.technicien{
	font-size: 8pt;
	text-align: right;
}
.tpetit{
	font-size: 6pt;
	text-align: center;
	
}
.charte{
	font-size: 7pt;
	text-align: justify;
}
.coord_client{
	font-size:12px;
}
.panne{
	font-size: 10pt;
}
.materiel{
	font-size: 10pt;
}
hr{
	border:none; 
	border-bottom: dashed 3px;
}

h2{
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}